@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
:root {
    --bodyFont: 'Pontano Sans', sans-serif;
    --transition: .3s ease;
    --gray: #333333;
    --darkgray: #2e2e2e;
    --yellow: #f3cd52;
    --lightgray: rgba(255,255,255,0.4);
    --white: #fff;
    --font: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pontano Sans', sans-serif;
    background: var(--gray);
    line-height: 1.7;
    font-size: 16px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
hr{
    background: var(--yellow);
    border: none;
    height: 1px;
    width: 70%;
    margin:50px auto 0 auto;
}
::placeholder{
    color: rgba(255, 255, 255, 0.76);
    // background: var(--lightgray);
    padding: 10px;
    font-family: 'Pontano Sans', sans-serif;

}
.container{
    width: 70%;
    margin: auto;
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}
button{
    background: var(--yellow);
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 1px black;
    &:hover{
        background-color: var(--white);
        cursor: pointer;
        transition: var(--transition);
    }

}
header{
    background: var(--yellow);
    text-align: center;
    nav{
        padding-top: 30px;
        ul{
            li{
                display: inline-block;
                a{
                    color:var(--gray);
                    padding:20px 40px;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: 2px;
                    font-family: var(--bodyFont);
                    // font-weight: 600;
                    text-shadow: 0 0 1px black;
                    
                }
            }
        }
    }
    img{
        width:100%;
        height: auto;
        display: block;
        border-top: 30px solid rgba(255,255,255,0.5);
        border-right: 30px solid rgba(255,255,255,0.5);
        border-left: 30px solid rgba(255,255,255,0.5);
    }
    h1{
        padding-top: 70px;
        font-size: 3rem;
        padding-bottom: 15px;
        letter-spacing: 2px;
        text-shadow: 0 0 1px black;
    }
    p{
        text-transform: uppercase;
        padding-bottom: 70px;
        text-shadow: 0 0 1px black;
    }
}
.services{
    padding: 50px 0;
    text-align: center;
    article{
        width: 33%;
        float: left;
        h3{
            font-size: 1.8rem;
            color: var(--white);
            text-shadow: 0 0 1px black;
        }
        p{
            padding: 30px;
            color:var(--lightgray);
        }
    }
}
.portfolio{
    text-align: center;
    img{
        width: 100%;
        height: auto;
    }
    h2{
        font-size: 2.7rem;
        letter-spacing: 2px;
        color: var(--white);
        text-shadow: 0 0 1px black;
    }
    p{
        color: var(--lightgray);
        padding: 20px;
    }
    div{
        article{
            width: 25%;
            float: left;
            padding: 20px;
            h3{
                color:var(--white);
                font-size: 1.8rem;
            }
        }
    }
}
.contact{
    text-align: center;
    padding: 50px 0;
    
    h2{
        color:var(--white);
        font-size: 2.7rem;
        letter-spacing: 2px;
    }
    p{
        font-size: 1rem;
        color: var(--lightgray);
        padding: 20px;
    }
    form{
        width: 40%;
        margin: auto;
        input, textarea{
            display: block;
            width: 100%;
            margin: 15px 0;
            background: var(--gray);
            border: none;
            padding: 20px;
            font-size: 1.2rem;
            background-color: var(--lightgray);
            box-shadow: 0 0 10px black;
        }
        textarea{
            height: 300px;
        }
        
    }
}
footer{
    text-align: center;
    color: var(--lightgray);
    padding: 20px;
    .fab{
        color: var(--yellow);
        font-size: 1.8rem;
        padding: 20px;
        &:hover{
            cursor: pointer;
            color: var(--white);
        }

    }
    .fas{
        color: red;
        padding: 0 5px;
        font-size: 1.4rem;
    }
    h2{
        font-size: 2.7rem;
        color: var(--white);
    }
    p{
        color: var(--lightgray);
        font-size: 1rem;
    }
}
// RESPONSIVE
@media(max-width: 768px){
    .container{
        width: 90%;
        margin: auto;
        &::after{
            display: block;
            content: "";
            clear: both;
        }
    }
    button{
        background: var(--yellow);
        border: none;
        padding: 15px 30px;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        box-shadow: 0 0 1px black;
        &:hover{
            background-color: var(--white);
            cursor: pointer;
            transition: var(--transition);
        }
    
    }
    header{
        background: var(--yellow);
        text-align: center;
        nav{
            padding-top: 30px;
            ul{
                li{
                    display: inline-block;
                    a{
                        color:var(--gray);
                        padding:10px 5px;
                        text-transform: uppercase;
                        font-size: .9rem;
                        letter-spacing: 1px;
                        font-family: var(--bodyFont);
                        // font-weight: 600;
                        text-shadow: 0 0 1px black;
                        
                    }
                }
            }
        }
        img{
            width:100%;
            height: auto;
            display: block;
            border-top: 15px solid rgba(255,255,255,0.5);
            border-right: 15px solid rgba(255,255,255,0.5);
            border-left: 15px solid rgba(255,255,255,0.5);
        }
        h1{
            padding-top: 50px;
            font-size: 2rem;
            padding-bottom: 15px;
            letter-spacing: 1px;
            text-shadow: 0 0 1px black;
        }
        p{
            text-transform: uppercase;
            padding-bottom: 70px;
            text-shadow: 0 0 1px black;
        }
    }
    .services{
        padding: 50px 0;
        text-align: center;
        article{
            &:first-child{margin-top: 0;}
            width: 100%;
            float: left;
            margin-top: 10px;
            h3{
                font-size: 1.8rem;
                color: var(--white);
                text-shadow: 0 0 1px black;
            }
            p{
                padding: 30px;
                color:var(--lightgray);
            }
        }
    }
    .portfolio{
        text-align: center;
        img{
            width: 100%;
            height: auto;
        }
        h2{
            font-size: 2rem;
            letter-spacing: 2px;
            color: var(--white);
            text-shadow: 0 0 1px black;
        }
        p{
            color: var(--lightgray);
            padding: 20px;
        }
        div{
            article{
                width: 100%;
                float: left;
                padding: 20px;
                h3{
                    color:var(--white);
                    font-size: 1.8rem;
                    margin-top:5px;
                }
            }
        }
    }
    .contact{
        text-align: center;
        padding: 50px 0;
        
        h2{
            color:var(--white);
            font-size: 2.7rem;
            letter-spacing: 2px;
        }
        p{
            font-size: 1rem;
            color: var(--lightgray);
            padding: 20px;
        }
        form{
            width: 90%;
            margin: auto;
            input, textarea{
                display: block;
                width: 100%;
                margin: 10px 0;
                background: var(--gray);
                border: none;
                padding: 10px;
                font-size: 1.2rem;
                background-color: var(--lightgray);
                box-shadow: 0 0 10px black;
            }
            textarea{
                height: 200px;
            }
            
        }
    }
    footer{
        text-align: center;
        color: var(--lightgray);
        padding: 20px;
        .fab{
            color: var(--yellow);
            font-size: 1.8rem;
            padding: 20px;
            &:hover{
                cursor: pointer;
                color: var(--white);
            }
    
        }
        .fas{
            color: red;
            padding: 0 5px;
            font-size: 1.4rem;
        }
        h2{
            font-size: 2.7rem;
            color: var(--white);
        }
        p{
            color: var(--lightgray);
            font-size: 1rem;
        }
    }
}